@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

.header-1 h1{
    font-family: 'Satisfy', cursive;
}
.header{
    background-color:white;
    width:100%;
    display:flex;
    
    flex-direction:column;
    justify-content: center;
   
}
.header-1{
    display:flex;
  
    justify-content:space-around;

}
.searchbox{
    position:relative;
    display:flex;
    gap:30px;
    width:59%;
    margin-top:4px;
    border-radius:15px;
    padding:0px 15px;
    border:1px solid gray;
    box-shadow:0px 1px 3px black,1px 0px 1px black,-1px 0px 2px black,0px -1px 1px black;
}
.searchbox .box1{
    width:33%;
    padding-left:20px;
    }
.searchbox .box2{
    width:67%;
    padding-left:30px;
    border-left:1px solid gray;
}

.searchbox  .box1 input{
    padding:5px;
    outline:none;
    border:none;
    font-size:18px;
    width:100%;
    background-color:transparent;

}
.searchbox  .box2 input{
    padding:5px;
    outline:none;
    border:none;
    font-size:18px;
    width:100%;
    background-color:transparent;


}
.searchbox .i1{
    color:green;
    top: 6px;
    left: 18px;
  position:absolute;
}
.searchbox .i2 {
    color:blueviolet;
    top: 6px;
    left: 270px;
    position: absolute;
}
.searchbox .i3 {
    color:palevioletred;
    top: 7px;
    left: 301px;
    position: absolute;
}
.header-1 .box3{
    gap:8px;
    margin-top:5px;
    z-index:999
}
.header-1 button{
    color:red;
    font-weight:bold;
    padding:6px 10px;
    border:none;
    font-size:16px;
    cursor:pointer;
    background-color:transparent;


}
.header-1 button:hover{
     background-color:red;
     color:white;
     border-radius:15px;
}
.header-2{
    margin-top:10px;
    display:flex;
    z-index:999;
    padding-left:54px;
    gap:5px;
    font-size:18px;
   
}
.header-2 a{
    text-decoration:transparent;
    color:black;
    border-bottom:transparent;
    
}
.header-1 .ch1, .ch2{
    display:none;
}
.header-2 a:hover{
    color:blue;
    border-bottom:1px solid green;
}
.header-1 .usericon1 , .usericon2{
    display:none;
}

.section1-sub{
    position:relative;
   
}
.section1-sub img {
    position:absolute;
    object-fit:cover;
   height:83vh;
   
   width:100%;
   opacity:1;
  
}
.section1-sub .textbox{
   position:absolute;
   color:white;
   text-shadow:2px 2px 1px black,2px 0px 2px black,-1px 0px 1px black,0px -2px 1px black,0px 2px 1px black;

   display: flex;
   align-items: center;
   justify-content: center;
   width:100%;
   font-size:3rem;
   flex-direction:column;
   min-height:500px;
}
.section2{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:plum;
    width:100%;
    padding:50px;
    color:black;
    /* text-align:center; */
    
  }
  .section2 .sec2-sub > h1{
    font-size:3rem;
    color:white;
    margin:65px 0px 30px 0px; 
    text-shadow:0px -1px 4px white,1px 1px 2px black,0px 1px 4px black,1px 0px 2px black,-1px 0px 3px black,0px -1px 0px black;
  }
  .section2 .sec2-sub > h2{
    font-size:2.5rem;
    color:blueviolet;
    text-shadow:0px -1px 1px white,1px 1px 3px white,0px 1px 0px black,1px 0px 0px black,-1px 0px 0px black,0px -1px 0px black;
    margin:35px 0px 30px 0px; 
    text-align:center;
    
  }
  .section2 .image-box, .img{
    display:flex;
    gap:20px;
   
   
  }
.section2 .image-box .img{
    height:300px;
    position:relative;
    width:280px;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0px 1px 7px black,1px 0px 7px black,-1px 0px 6px black,0px -1px 6px black;
}
.section2 .image-box .img img{
    height:300px;
    position:absolute;
    width:280px;
    border-radius:10px;
}
.section2 .img .text, .img-back .text{
    position:absolute;
    bottom:2px;
    left:10px;
    color:lightblue;
    text-shadow:0px 1px 0px black,1px 0px 0px black,-1px 0px 0px black,0px -1px 0px black;
}
.section2 .text h4{
    font-size:19px;
    color:blanchedalmond;
}
.section2 .img-back{
   height:0;
    position:absolute;
    background-color:rgba(200,30,100,0.75);
    color:white;
    height:300px;
    position:absolute;
    width:280px;
    border-radius:10px;
    opacity:0;
    padding:20px;

}
.img:hover .img-back{
    opacity:1;
    height:100%;
}
.img-back .para{
    text-align:left;
    color:white;
    width:80%;
    margin-top:10px;
  
    
}
.sec1-full{
   
    min-height:100vh;
}
.section2{
    min-height: 100vh;
}
.sec2-full{
    min-height:110vh;
    width:100%;
}
.section2 .sec2-sub > h1 {
    font-size: 3rem;
    color: white;
    margin: 0px 0px 30px 0px;
    text-shadow: 0px -1px 4px white, 1px 1px 2px black, 0px 1px 4px black, 1px 0px 2px black, -1px 0px 3px black, 0px -1px 0px black;
}
.sec4{
    min-height:100vh;
    width:100%;
}
.section4 {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:start;
    height:80vh;
    
}
.section4 img{
    position:absolute;
    height:80vh;
    width:100%;
    opacity:0.58;
    object-fit:cover;
}
.section4 .textbox{
    padding-left:120px;
    text-align:left;
    position:absolute;
    width:54%;
    
    color:black;
}
.section4 .textbox p{
    font-size:22px;
    margin:7px 0px;
    color:black;
    opacity:2;
}
.section4 .textbox h1{
    font-size:40px;
    opacity:2;
    
}
.section4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
}
.section4 img {
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0.58;
    object-fit: cover;
}

.footer{
    background-color:whitesmoke;
    padding:50px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    display:wrap;
    gap:55px;
}
.footer .box h1{
    height:40px;
    font-size:25px;
color:red;
    text-shadow:0px 1px 0px black,0px -1px 0px black,-1px 0px 0px black,0px -1px 0px black;
    
}
.footer .box p{
    cursor:pointer;
    font-size:18px;
    color:darkgray;
    height:28px;
    text-shadow:0px 0.5px 0px black,0px -0.5px 0px black,-0.5px 0px 0px black,0px -0.5px 0px black;

}
.footer .box p:hover{
    color:blue;
}
.footer .box h4{
    height:28px;
    font-size:17px;
    color:cornflowerblue;
  text-shadow:0px 1px 0px black,0px -1px 0px black,-1px 0px 0px black,0px -1px 0px black;
}
.footer .box-end .b1 select, .b2 select{
    padding:3px 5px 3px 23.5px ;
    border:none;
    cursor:pointer;
    background-color:transparent;
}
.footer .subfooter{
    padding:4px;
    border:1px solid white;
    position:relative;
    display:flex;
    gap:8px;
    border-radius:15px;
    box-shadow:0px 1px 1px black,0px -1px 1px black,-1px 0px 1px black,0px -1px 1px black;
}
.footer .box-end .b1 i{
    position:absolute;
   left:6px;
   top:6px;
    color:green;
}
.footer .box-end .b2 i{
    position:absolute;
    left:116px;
    top:6px; 
     color:blue;
}
.footer .subfooter .b2{
    padding-left:12px;
    border-left:1px solid gray;
}
.footer .subfooter + h4{
    color:green;
    margin:16px 0px 10px 0px;
    
}
.footer .ibox{
    display:flex;
    gap:16px;
    font-size:19px;
    cursor:pointer;
    margin:17px 0px;
}
.footer .ibox i {
    animation-name:ibox;
    animation-duration:2s;
    animation-iteration-count:3;
    animation-direction:alternate;

}
@keyframes ibox{
    0%{
        transform:scale(1);
    }
    50%{
         transform:scale(1.2);
    }
    100%{
        transform:scale(1.5);
    }
}
.footer .ibox i:first-child{
    color:palevioletred;
}
.footer .ibox i:nth-child(2){
    color:darkblue;
}
.footer .ibox i:nth-child(3){
    color:cornflowerblue;
}
.footer .ibox i:nth-child(4){
    color:green;
}
.footer .ibox i:hover{
    transform:scale(1.3);
    
}
.footer .img1{
    margin-top:10px;
    height:42px;
    width:130px;
    display:block;
}
.footer .img2{
    height:70px;
    width:130px;
}
.section1-sub img {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    opacity: 1;
}
.section2 {
    min-height: 124vh;
}

@media screen and (max-width:800px){
   
    .section1-sub .textbox {
        font-size: 2rem;
        min-height: 509px;
    }
    .section1-sub img {
        position: absolute;
        object-fit: cover;
        height: 83vh;
        width: 100%;
    }
    .header-2 .span1{
        display:none;
    }
    .header-1 h1{
        position:fixed;
        left:6px;
        top:2px;
    }
    .header-sub2 {
        display:none;

    }
    .header-1{
        padding-top:50px;   
        align-items:Center;
        flex-direction:column;
    }
    .header-1 .searchbox{
        
        width:95%;
        flex-direction:column;
        gap:2px;
        padding:5px 0px;
        padding-bottom:2px;
        padding-right:0px;
       
    }

    .header-1 .box1{
        padding-right:30px;
        width:100%;
      
        border-bottom:1px solid gray;
    }
    .header-1 .box2{
        padding-right:6px;
        border-left:none;
        width:100%;
        padding-left:23px;
        
    }
    .header-1 .searchbox .box2 input{
         background-color:transparent;
         font-size:17px;
    }
     .header-1 .searchbox .box2 input{
         font-size:17px;
    }
    .searchbox .i1 {
        top: 10px;
        left: 8px;
    }
    .searchbox .i3 {
        top: 44px;
        left: 6px;
    }
    .searchbox .i2{
        top:10px;
        left:92%;
    }
    .header-1 .usericon1 {
        position: fixed;
        display: block;
        top: 18px;
        right: 50px;
        color: red;
        font-size:18px;
        z-index:999;
        
    }
    .header-1 .box3{
        display:block;
        display:flex;
        flex-direction:column;
        position: fixed;
        z-index:9991;
        top: 41px;
        width:50%;
        height:19vh;
        background: repeating-linear-gradient(95deg, #ffffffe3,#14a30bba);
      left:-100%;
      transition: all 0.5s;
      padding-top: 10px;
        }
        .header-1 .box3 button:hover{
              color:white;
              border-radius:0px;

        }
    
 input:checked ~ .box3{
        left:0;
    } 
    .usericon2 {
        position: fixed;
         z-index:999;
        display: block;
        top: 17px;
        right: 12px;
        color: black;
        font-size: 22px;
    }
    .header-sub2 {
        display: block;
        position: fixed;
        display: flex;
        top: 47px;
        padding-top: 73px;
        gap: 25px;
        font-size: 22px;
        height: 88vh;
        width: 100%;
        color: black;
        flex-direction: column;
        background: repeating-linear-gradient(45deg, white,#000000e8);
        transition: all 1s;
        left:-100%;
        
        padding-left:8px;
        z-index:999;
    }
    .header-2 .spans{
        display:none;
    }
    input:checked ~ .header-sub2{
        left:0;
    } 
    .header-2 a:hover{
          color:white;
          border:none;   
}
.header-1 h1{
     z-index:999;
    width:100%;
    background-color:white;
    top:0;
    left:0;
    padding-left:10px;
}
}

@media screen and (min-width:800px) and (max-width:1400px)
{
    .searchbox {
        gap: 5%;
        width: 65%;
        margin-top: 4px;
        border-radius: 15px;
        padding: 0px 16px;
        border: 1px solid gray;
        padding-right: 0%;
    }
    .searchbox .box1 {
        width: 34%;
        padding-left: 7px;
       
    }
    .searchbox .box2 {
        width: 78%;
        padding-left: 3%;
        padding-right:0%;
    }
    .searchbox .i3 {
        top: 11px;
        left: 37%;
    }
    .searchbox .i1 {
        top: 11px;
        left: 11px;
    }
    .searchbox .i2 {   
        top: 10px;
        left: 33%;
    }
    .searchbox .box1 input {
        padding: 9px;
        padding-right: 0px;
        padding-left: 4px;
    }
    .searchbox .box2 input {
        padding: 9px;
        background-color: transparent;
    }
    .header-2{
        padding-left:2%;
    }
}
@media screen and (min-width:800px) and (max-width:1400px)
{
    .header{
        position:fixed;
        z-index:999;
        top:0;
        background-color:white;

    }
    .projectcontainer{
        padding-top:59px;
    }
}
@media screen and (min-width:400px) and (max-width:799px)
{
    .header .box3 {
    top: 53px;
    width: 24%;
    height: 28vh;
    background-color: #050206c9;
    padding-top: 28px;
}
}
@media screen and (min-width:1200px) and (max-width:1400px){
    .searchbox .i3 {
        top: 11px;
        left: 36%;
    }
    .searchbox .i2{
        left:31.5%;
    }
    .searchbox{
        gap:4%;
    } 
    }

    @media screen and (max-width:800px){
        

        .section2 {
            flex-direction: column;
            height: 262vh;
            width: 100%;
        }
        .section2 .sec2-sub > h1 {
            font-size: 3rem;
        }
        .section2 .sec2-sub > h2 {
            font-size: 2.5rem;
        }
        .section2 .image-box, .img {
            flex-direction: column;
            display: flex;
            gap: 20px;
        }
        .section4 img {
            position: absolute;
            height: vh;
            width: 100%;
            height: 100%;
        }
        .section4 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            height: 108vh;
        }
        .section4 .textbox h1 {
            font-size: 27px;
        }
        .section4 .textbox p {
            font-size: 15px;
        }
        .section4 .textbox {
            padding-left: 51px;
            width: 94%;
        }
    }
    @media screen and (min-width:800px) and (max-width:1200px){
        
        .section2 {
            height: 122vh;
            width: 100%;
        
        }
        .section2 .image-box, .img {
            gap: 30px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .section4 {
            height: 86vh;
        }
        .section4 .textbox {
            padding-left: 120px;
            width: 66%;
        }
        .section4 img {
            height: 100%;
        }
        .section4 .textbox p {
            font-size: 20px;
        }
        }
       
        
        @media screen and (min-width:320px) and (max-width:800px){
           
            .header-1 h1 {
                z-index: 999;
        
                top: 0;
                left:0;
            }
            .sec1-full {
            min-height: 82vh;
            }
            .section1-sub .textbox {
              font-size: 2rem;
               min-height: 377px;
              }
            .section1-sub img {
              
              height: 82vh;
              
            }
            .section2 {
    
            height: 286vh;
            
}
        .section2 {
            min-height: 125vh;
             }

    
        }
        @media screen and (min-width:1000px) and (max-width:1200px){
            .sec4 {
          min-height: 86vh;
    
         }
         .section2 {
    height: 179vh;
    width: 100%;
}
.section1-sub .textbox {
    font-size:2rem;
   text-align:center;
    min-height: 300px;
}
.sec1-full {
    min-height: 82vh;
}
.section1-sub img {
    
    height: 82vh;
   
}
.projectcontainer {
    padding-top: 55px;
}
        }
        @media screen and (min-width:800px) and (max-width:1000px){
            .projectcontainer {
    padding-top: 84px;
}
.sec1-full {
    min-height: 87vh;
}
.section1-sub img {
   
    height: 87vh;
    
}
.section2 {
    height: 175vh;
    width: 100%;
}
        } 
        @media screen and (min-width:1000px) and (max-width:1200px){
            .section1-sub img {
    height: 88vh;
}
.sec1-full {
    min-height: 88vh;
}
.section2 {
    height: 105vh;
    width: 100%;
}
        }
        @media screen and (min-width:800px)and (max-width:1000px){
            .sec4{
            min-height:86vh;
            }
        }
        
        @media screen and (min-width:320px) and (max-width:800px){
            .footer {
                flex-direction: column;
                display: flex;
                 align-items: start; 
                 justify-content: start;
                gap: 0px;
                padding-left:30px;
                text-align: left;
            }
            .footer .box-end .b1 select, .b2 select {
                padding: 3px 5px 3px 17px;
            }
            .footer .subfooter {
                padding: 2px;
                gap: 3px;
            }
            .footer .box-end .b2 i {
                left: 106px;
                top:6px;
            }
            .footer .box-end .b1 i {
                top:7px;
                left:7px;
            }
            .footer .box-end .b1  {
                padding-left:8px;
            
            }
            
        
        }
        @media screen and (min-width:800px) and (max-width:1200px)
        {
        .footer {
            flex-wrap: wrap;
            padding: 50px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: wrap;
            gap: 35px;
        }
        }
         @media screen and (min-width:799px) and (max-width:800px){
            .header-1 h1 {
    z-index: 999;
    top: 0;
    left: 0;
}
.searchbox .box1 input {
    padding: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    width: 100%;
    background-color: transparent;
}
.header-1 .searchbox .box2 input {
    font-size: 17px;
}
.header-1 .box1 {
    padding-right: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.header-1 .box2 {
    padding-right: 6px;
    border-left: none;
    width: 100%;
    padding-left: 23px;
}
.header-1 .searchbox {
    width: 95%;
    flex-direction: column;
    gap: 2px;
    padding: 5px 0px;
    padding-bottom: 2px;
    padding-right: 0px;
}
        } 
        
